body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #00468f; /* Colore Rotaract */
    color: white;
    text-align: center;
    padding: 2rem 0;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

.room-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.room {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 2rem;
    width: 300px;
    text-align: center;
}

.room h2 {
    color: #00468f;
    margin-top: 0;
}

.book-button {
    background-color: #f7a81c; /* Colore giallo Rotaract */
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.book-button:hover {
    background-color: #e5970c;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
}